        body { 
            margin: 0;
            overflow: hidden; 
            display: flex; 
            flex-direction: row; 
            height: 100vh; 
        }
        
        /* 针对小屏设备（如手机） */
        @media (max-width: 768px) {
            body {
                display: block; /* 垂直布局 */
            }
        }

        /* 顶部导航栏 */
        #top-navbar {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            height: 40px;
            background-color: rgb(22, 22, 22);
            display: flex;
            justify-content: space-between; /* 左右两边对齐 */
            align-items: center;
            padding: 0 20px;
            color: white;
            z-index: 100;
        }

        #top-navbar .logo img {
            height: 30px; /* Logo高度 */
            width: auto;  /* 自动调整宽度 */
            cursor: pointer;
        }

        #search-bar {
            display: flex;
            align-items: center;
            gap: 5px; /* 搜索框与搜索按钮之间的间距 */
        }

        #search-bar input {
            height: 25px;
            border: none;
            border-radius: 4px;
            padding: 0 10px;
            font-size: 14px;
        }

        #search-bar input:focus {
            outline: none;
        }

        #search-bar img {
            height: 25px;
            cursor: pointer;
        }

        #menu-button {
            cursor: pointer;
            width: 24px;
            height: 18px;
            background: url('assets/menu.png') no-repeat center center;
            background-size: contain;
            margin-left: 10px; /* 搜索框与按钮的间距 */
        }

        /* 定义右侧区域布局 */
        #right-section {
            display: flex;
            align-items: center;
            gap: 10px; /* 搜索栏和menu-button之间的间距 */
        }

        #search-bar {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
        }
        
        #search-input {
            width: 250px;  /* 你可以根据需要调整宽度 */
            padding: 5px;
            margin-right: 10px; /* 搜索框右边的空白 */
        }
        
        #search-results {
            position: absolute;
            top: 100%;  /* 将其放置在搜索框下方 */
            left: 0;
            right: 0;
            background-color: #333;  /* 背景色 */
            color: white;
            padding: 5px 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            max-height: 200px;  /* 设置最大高度，避免过长的下拉列表 */
            overflow-y: auto;  /* 超出部分滚动 */
            max-width: 100%;  /* 设置最大宽度，保证不超出父容器 */
            display: none;  /* 默认隐藏，直到用户输入时显示 */
            z-index: 101;
        }
        
        #search-results div {
            padding: 8px;
            cursor: pointer;
            border-bottom: 1px solid #444;
        }
        
        #search-results div:hover {
            background-color: #555;
        }
        
        /* 调试功能-显示坐标字体大小 */
        #camera-coordinates {
            color: white;
            font-size: 10px;
        }

        /* 浮空组件 */
        #floating-menu {
            position: fixed;
            top: 45px;
            right: 5px;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.7);
            border: 1px solid #fff;
            border-radius: 5px;
            z-index: 101;
            padding: 10px;
            display: none; /* 默认隐藏 */
        }

        #floating-menu .section-title {
            margin-bottom: 10px;
            font-size: 16px;
            color: #bbb;
            padding-left: 10px;
        }

        #floating-menu a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: white;
            background-color: #444;
            margin-bottom: 5px;
            border-radius: 3px;
            transition: background-color 0.3s;
        }

        #floating-menu a:hover {
            background-color: #555;
        }

        #floating-menu a.active {
            background-color: #007BFF;
        }

        #floating-menu hr {
            border: 0;
            border-top: 1px solid #555;
            margin: 10px 0;
        }
        
        /* 侧边导航栏 */
        #side-navbar {
            position: fixed;
            top: 40px;
            left: 0;
            bottom: 0;
            width: 175px;
            background-color: rgba(51, 51, 51, 0.7);  /* 半透明背景 */
            color: white;
            padding-top: 20px;
            padding-left: 0px;
            z-index: 99;
            display: flex;
            flex-direction: column;
            justify-content: space-between; /* 确保文字栏处于底部 */
        }

        #side-navbar .section-title {
            margin-bottom: 10px;
            padding-left: 10px;
            font-size: 16px;
            color: #bbb;
        }

        /* 侧边导航栏底部文字栏 */
        #side-navbar .down-title {
            margin-top: auto; /* 将文字栏推到底部 */
            padding: 10px;
            font-size: 14px;
            color: #bbb;
            text-align: center;
            background-color: rgba(68, 68, 68, 0.7);  /* 半透明背景 */
            border-top: 1px solid #555; /* 可选，增加分隔线 */
        }

        #side-navbar a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: white;
            background-color: rgba(68, 68, 68, 0.7);  /* 半透明背景 */
            margin-bottom: 5px;
            border-radius: 3px;
            transition: background-color 0.3s;
        }

        #side-navbar a:hover {
            background-color: rgba(85, 85, 85, 0.7); /* 半透明背景 */
        }

        #side-navbar a.active {
            background-color: #007BFF; /* 保持不透明的蓝色 */
        }

        #side-navbar hr {
            border: 0;
            border-top: 1px solid #555;
            margin: 10px 0;
        }

        /* 模型信息窗口 */
        #model-info-window {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            padding: 20px;
            border-radius: 10px;
            display: none; /* 默认隐藏 */
            z-index: 102;  /* 确保在最上层 */
        }

        /* 遮罩层 */
        #overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* 半透明灰色背景 */
            z-index: 101;                           /* 遮罩层在模型窗口之下 */
            display: none;                          /* 默认隐藏 */
        }

        /* 进度条和模型展示部分 */
        #progress-bar-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            height: 20px;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            z-index: 101;
            text-align: center;
        }

        #progress-bar {
            height: 100%;
            width: 0%;
            background-color: #4caf50;
            border-radius: 5px;
            position: relative;
        }

        #progress-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 16px;
            font-weight: bold;
        }

        /* 加载进度条文字 */
        #loading-text {
            position: absolute;
            top: calc(50% - 40px);
            left: 50%;
            transform: translateX(-50%);
            color: white;
            font-size: 18px;
            font-weight: bold;
            z-index: 100;
        }

        /* 错误文字 */
        #error-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: red;
            font-size: 20px;
            font-weight: bold;
            z-index: 100;
            display: none;
        }

        /* WebGL Canvas */
        #webgl-canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100vw - 200px); /* 侧边栏宽度减去 */
            height: 100vh;              /* 满屏高度 */
        }